
.delete-button {
    height: fit-content;
}

.confirm-delete-button {
    background-color:rgb(108, 13, 13);
}

.all-expense-info {
    display: flex;
    flex-direction: column;
    height: 100%;

    background: linear-gradient(-169deg,rgba(242, 235, 92, 1) 0%, rgba(90, 196, 55, 1) 42%, rgba(44, 143, 80, 1) 98%);
}

.expense-header {
    position: sticky;
    height: 10vh;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 7rem;
    padding-right: 7rem;

    background: linear-gradient(246deg,rgb(39, 171, 22) 0%, rgb(233, 245, 225) 83%);
    border-bottom: 0.3rem solid rgb(39, 171, 22);
}

.expense-list {
    display: flex;
    flex-direction: column;
    
}

.pagination-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 0.25rem;

    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    background: radial-gradient(circle,rgba(254, 255, 209, 1) 8%, rgba(204, 245, 169, 1) 47%, rgba(90, 196, 55, 1) 76%, rgba(44, 143, 80, 1) 100%);
}

.expenses-table {
    overflow-y: scroll;

    border-collapse: collapse;
}

.expenses-table thead {
    position: sticky;
    top: 10vh;

    background-color: rgb(197, 136, 201);
}

.expenses-table td {
    padding-left: 1rem;
    padding-right: 1rem;
}

.spacer {
    display: inline-block;
    width: 0.375em; 
}

.expenses-table .edit-td {
    text-align: center;
}

.expenses-table .odd-row .edit-button {
    background-color: rgb(176, 176, 176);
}

.expenses-table .even-row .edit-button {
    background-color: rgb(127, 127, 127);
}

.expenses-table .odd-row {
    background-color: rgb(253, 253, 253);
}

.expenses-table .odd-row td:nth-child(odd) {
    background-color: rgb(240, 248, 236);
}

.expenses-table .even-row {
    background-color: rgb(245, 243, 243);
}

.expenses-table .even-row td:nth-child(odd) {
    background-color: rgb(228, 236, 226);
}

.expenses-table th:nth-child(odd) {
    background-color: rgb(167, 118, 179);
}
